<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolcsonzo App with EJS</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">

</head>
<body>
    <div class="container">
        <header>
            Kolcsonzo App with EJS
        </header>
        <%- include('navbar') %>
        <main>