<%- include('header') %>

<h4 class="mb-3">Statistics</h4>

<%- include('message') %>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active m-1" aria-current="page" href="#">Table</a>
    </li>
</ul>


<form action="/targyak" method="post">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cím</th>
            <th scope="col">Tipus</th>
            <th scope="col">Elérhető-e</th>
          </tr>
        </thead>
        <tbody id="hely">
        </tbody>
      </table>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        TablazatToltes();
    });

    function TablazatToltes() {
        fetch('http://localhost:3000/targyak')
            .then(response => response.json())
            .then(data => {
                let tbody = document.querySelector('#hely');
                data.forEach(items => {
                    let tr = document.createElement('tr');
                    let td1 = document.createElement('td');
                    let td2 = document.createElement('td');
                    let td3 = document.createElement('td');
                    let td4 = document.createElement('td');
                    td1.innerHTML =  index + 1;
                    td2.innerHTML = items.title;
                    td2.innerHTML = items.type;
                    td2.innerHTML = items.available;
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tr.appendChild(td4);
                    tbody.appendChild(tr);
                });
            })
    }
</script>

<%- include('footer') %>